#slider.container-fluid
    .slick-slider
        .slider-item
            img(src="./images/slider1.png", alt="")
            .slider-content.slider-01
                .flex-column
                    h2
                        |  We Are 
                        span ForBuilders
                    h3 
                        | Pleasure rationally encounter consequences that are extremely painful extreme who loves or pursues or desires to obtain pain of itself
                    .slider-btn
                        a.buy-btn(href='') buy now
                        a.get-btn(href='') Get a Quote
        .slider-item
            img(src="./images/slider2.png", alt="")
            .slider-content.slider-02
                .flex-column
                    h2
                        |  Get Your Own House
                    h3 
                        | Pleasure rationally encounter consequences that are extremely painful who loves or pursues or desires to obtain pain of itself
                    .slider-btn
                        a.buy-btn(href='') buy now
                        a.get-btn(href='') Get a Quote            
        .slider-item
            img(src="./images/slider3.png", alt="")
            .slider-content.slider-03
                .flex-column
                    h2
                        |  We Are Builders of Great Buildings
                    h3 
                        | Pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself
                    .slider-btn
                        a.buy-btn(href='') buy now
                        a.get-btn(href='') Get a Quote                