footer#footer.container-fluid
  .container.footer-content
      .footer-contact
        h4 Contact Us
        .footer-contact-list
          ul
            li
                i.fa.fa-map-marker-alt
                p
                  | Address: 
                  span
                    | 1600 Pennsylvania Ave NW, Washington, DC 20500, United
                    | States
            li
                i.fa.fa-phone
                p
                  |  Phone: 
                  span (+321) 25 365 7845
            li
                i.fa.fa-envelope
                p
                  | Email: 
                  span ForestThemes@gmail.com
            li
                i.fa.fa-clock
                p
                  |  Monday - Friday : 
                  span 9.00 am to 17.00 pm
                  br
                  | Saturday - Sunday : 
                  span Closed
      .footer-tweets
        h4 latest tweets
        .footer-tweets-list
          ul
            li
              i.fab.fa-twitter
              p
                span @ForBuilders
                |  themess Meet Creativ version 2.1.
                |                     A lot of new things are coming soon. Jun. 29, 2014
            li
              i.fab.fa-twitter
              p
                |  @business themess Meet 
                span ForBuilders 
                |  version A lot of new things are
                |                     coming soon. Jun. 29, 2014
            li
              i.fab.fa-twitter
              p
                span business themess 
                | @ Meet 
                span ForBuilders 
                |  version A lot of new things are
                | coming soon version 2.1 Jun. 29, 2014


      .footer-form
        h4 say hello
        form.footer-content-form(action='')
          .input-profile
            .input-profile-name
              input(type='text', name='Name', placeholder='Name')
              i.fa.fa-user
            .input-profile-email
              input(type='text', name='Email', placeholder='Email')
              i.fa.fa-envelope
          .form-textarea
            textarea(type='textarea', rows='3', placeholder='Message')
            i.fa.fa-pen
          .form-button
            input(type='submit', value='Send')



    
  .footer-copyrights.container-fluid
    .container.copyrights
      .copyrights-left
        p Copyright &copy; 2015 ForBuilders. Designed &hearts; Forest _ Themes
      .copyrights-right
        ul
          li
            a(href='#') Home
          li
            a(href='#') About Us
          li
            a(href='#') Services
          li
            a(href='#') Project
          li
            a(href='#') Contact
