#interested.container-fluid
  .container.interested
    .interested-title
      h2 INTERESTED IN OUR OFFER?
      p Fill in this form, we wil call back you
    .interested-input
      .input-group
        input(type='text', placeholder='Enter Your Name')
        input(type='text', placeholder='Your Contact Number')
      button.button-interested Click Here
