#feature.container-fluid
  .container.feature
    .feature-title
      h1 OUR FEATURED WORKS
      p
        | Temporibus autem quibusdam et aut officiis debitis aut rerum
        | necessitatibus sape eveniet ut et voluptates repudiandae sint et
        | molestiaenon recusandae. Itaque earum rerum hic tenetur asapiente
        | delectus, voluptatibus.
    .feature-filter
      ul
        li
          a(href='') ALL WORKS
        li
          a(href='') MODERN
        li.active
          a(href='') INTERIOR
        li
          a(href='') EXTERIOR
        li
          a(href='') PLUMBING
        li
          a(href='') BUILDING

  .feature-carousel
    .feature-carousel-item
      img(src="./images/featured-01.png", alt="")
      .feature-carousel-title
        .title-feature
          h5 Corporate Building
          p Modern Work / Interior
      .feature-carousel-link
        a(href='#') 
          i.fa.fa-link

    .feature-carousel-item
      img(src="./images/featured-02.png", alt="")
      .feature-carousel-title
        .title-feature
          h5 Corporate Building
          p Modern Work / Interior
      .feature-carousel-link
        a(href='#') 
          i.fa.fa-link

    .feature-carousel-item
      img(src="./images/featured-03.png", alt="")
      .feature-carousel-title
        .title-feature
          h5 Corporate Building
          p Modern Work / Interior
      .feature-carousel-link
        a(href='#') 
          i.fa.fa-link

    .feature-carousel-item
      img(src="./images/featured-04.png", alt="")
      .feature-carousel-title
        .title-feature
          h5 Corporate Building
          p Modern Work / Interior
      .feature-carousel-link
        a(href='#') 
          i.fa.fa-link

    .feature-carousel-item
      img(src="./images/featured-05.png", alt="")
      .feature-carousel-title
        .title-feature
          h5 Corporate Building
          p Modern Work / Interior
      .feature-carousel-link
        a(href='#') 
          i.fa.fa-link

    .feature-carousel-item
      img(src="./images/featured-01.png", alt="")
      .feature-carousel-title
        .title-feature
          h5 Corporate Building
          p Modern Work / Interior
      .feature-carousel-link
        a(href='#') 
          i.fa.fa-link