#support.container-fluid
  .container
    .support-title
      h2 our supporting
        span  clients
    .support-logo
      .logo-item
        img(src='./images/logo-support.png', alt='')
      .logo-item
        img(src='./images/logo-support1.png', alt='')
      .logo-item
        img(src='./images/logo-support2.png', alt='')
      .logo-item
        img(src='./images/logo-support3.png', alt='')
      .logo-item
        img(src='./images/logo-support4.png', alt='')
      .logo-item
        img(src='./images/logo-support5.png', alt='')
