#aboutus.container-fluid
  .breadcrumb
    .breadcrumb-content
      h1 little more to know about us
      p
        | Home 
        i.fa.fa-angle-double-right
        span Project
  .container
    .aboutus__misvion
        .misvion-card
          img.img-fluid(src='./images/aboutus01.png', alt='')
          h4 Mission
          p
            | praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
            | cupiditate non et provident, similique sunt in culpa qui official.
        .misvion-card
          img.img-fluid(src='./images/aboutus02.png', alt='')
          h4 Vision
          p
            | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
            | voluptates repudiandae sint et molestiae non recusandae.
        .misvion-card
          img.img-fluid(src='./images/aboutus03.png', alt='')
          h4 Expanding Goal
          p
            | our power of choice is untrammelled and when nothing prevents our being able to do what we like best,
            | every pleasure is to be welcomed and every pain avoided.

  .container-fluid
    .container.wearethebest
      .aboutus-wearethebest
        .aboutus-wearethebest--left
          .gallery
            .gallery-for
              .gallery-container
                img(src='./images/aboutus-slide01.png', alt='')
                .gallery-overlay
              .gallery-container
                img(src='./images/aboutus-slide02.png', alt='')
                .gallery-overlay
              .gallery-container
                img(src='./images/aboutus-slide03.png', alt='')
                .gallery-overlay
              .gallery-container
                img(src='./images/aboutus-slide04.png', alt='')      
                .gallery-overlay
                          
            .gallery-nav
              .gallery-btn
                img(src='./images/aboutus-slide01.png', alt='')
              .gallery-btn
                img(src='./images/aboutus-slide02.png', alt='')
              .gallery-btn
                img(src='./images/aboutus-slide03.png', alt='')
              .gallery-btn
                img(src='./images/aboutus-slide04.png', alt='')                







        .aboutus-wearethebest--right
          .right__title
            h3 why we are the best?
            p
              | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .aboutus-progress
            .progress-title
              p Construction
              span 75%
            .progress
              .progress-bar(id='items-progress', role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='--value:75%')
            .progress-title
              p Interior Work
              span 80%
            .progress
              .progress-bar(id='items-progress', role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='--value:80%')
            .progress-title
              p Renovation
              span 90%
            .progress
              .progress-bar(id='items-progress', role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='--value:90%')
            .progress-title
              p Exterior Work
              span 85%
            .progress
              .progress-bar(id='items-progress', role='progressbar', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100', style='--value:85%')


          .aboutus-testimonal
            .carousel-item
              .item-img
                img(src='./images/testimonal1.png', alt='')
              .item-content
                p
                  | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                span Stephen Nicholes - 21st Mar, 2015
            .carousel-item
              .item-img
                img(src='./images/testimonal1.png', alt='')
              .item-content
                p
                  | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                span Stephen Nicholes - 21st Mar, 2015
            .carousel-item
              .item-img
                img(src='./images/testimonal1.png', alt='')
              .item-content
                p
                  | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                span Stephen Nicholes - 21st Mar, 2015
            .carousel-item
              .item-img
                img(src='./images/testimonal1.png', alt='')
              .item-content
                p
                  | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                span Stephen Nicholes - 21st Mar, 2015




  .container.aboutus-team
    .aboutus-team-title
      h2 our team members
      p
        | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus sape eveniet ut et
        | voluptates repudiandae sint et molestiaenon recusandae. Itaque earum rerum hic tenetur asapiente delectus,
        | voluptatibus.
    .aboutus-team-card
      .aboutus-team-item
        .team-img
          img(src='./images/aboutus-member01.png', alt='')
          .team-overlay
            .social-icon
              i.fab.fa-facebook-f
              i.fab.fa-twitter
              i.fab.fa-google-plus-g
        h5 john charlesko
        span Senior Engineer
        p
          | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
          | voluptates repudiandae sint et molestiae non recusandae.
      .aboutus-team-item
        .team-img
          img(src='./images/aboutus-member02.png', alt='')
          .team-overlay
            .social-icon
              i.fab.fa-facebook-f
              i.fab.fa-twitter
              i.fab.fa-google-plus-g
        h5 steven martin
        span Project Manager
        p
          | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
          | voluptates repudiandae sint et molestiae non recusandae.
      .aboutus-team-item
        .team-img
          img(src='./images/aboutus-member03.png', alt='')
          .team-overlay
            .social-icon
              i.fab.fa-facebook-f
              i.fab.fa-twitter
              i.fab.fa-google-plus-g
        h5 Lyon Jocye
        span Founder&amp;CEO
        p
          | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
          | voluptates repudiandae sint et molestiae non recusandae.
      .aboutus-team-item
        .team-img
          img(src='./images/aboutus-member04.png', alt='')
          .team-overlay
            .social-icon
              i.fab.fa-facebook-f
              i.fab.fa-twitter
              i.fab.fa-google-plus-g
        h5 david william
        span Senior Engineer
        p
          | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
          | voluptates repudiandae sint et molestiae non recusandae.
      .aboutus-team-item
        .team-img
          img(src='./images/aboutus-member05.png', alt='')
          .team-overlay
            .social-icon
              i.fab.fa-facebook-f
              i.fab.fa-twitter
              i.fab.fa-google-plus-g
        h5 mark nicholes
        span Engineer
        p
          | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
          | voluptates repudiandae sint et molestiae non recusandae.
      .aboutus-team-item
        .team-img
          img(src='./images/aboutus-member06.png', alt='')
          .team-overlay
            .social-icon
              i.fab.fa-facebook-f
              i.fab.fa-twitter
              i.fab.fa-google-plus-g
        h5 Living Stone
        span Project Manager
        p
          | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
          | voluptates repudiandae sint et molestiae non recusandae.
