#project.container-fluid
  .breadcrumb
    .breadcrumb-content
      h1 See Our Latest Projects
      p
        | Home 
        i.fa.fa-angle-double-right
        span Project
  .container.project-content
    .project-content-menu
      ul
        li.active
          a(href='') ALL WORKS
          .style__number
            p 12
        li
          a(href='') MODERN
          .style__number
            p 13
        li
          a(href='') INTERIOR
          .style__number
            p 17
        li
          a(href='') EXTERIOR
          .style__number
            p 22
        li
          a(href='') PLUMBING
          .style__number
            p 36
        li
          a(href='') BUILDING
          .style__number
            p 24

    .project-content-img
        .project_img
          img.img-fluid(src='./images/project01.jpg', alt='')
          .project_img--overlay
            .plus
            .project_img--hotel 
              p Western Hotel
            .project_img--text 
              p Modern
        .project_img
          img.img-fluid(src='./images/project02.jpg', alt='')
          .project_img--overlay
            .plus
            .project_img--hotel 
              p Western Hotel
            .project_img--text 
              p Modern          
        .project_img
          img.img-fluid(src='./images/project03.jpg', alt='')
          .project_img--overlay
            .plus
            .project_img--hotel 
              p Western Hotel
            .project_img--text 
              p Modern          
        .project_img
          img.img-fluid(src='./images/project04.jpg', alt='')
          .project_img--overlay
            .plus
            .project_img--hotel 
              p Western Hotel
            .project_img--text 
              p Modern          
        .project_img
          img.img-fluid(src='./images/project01.jpg', alt='')
          .project_img--overlay
            .plus
            .project_img--hotel 
              p Western Hotel
            .project_img--text 
              p Modern          
        .project_img
          img.img-fluid(src='./images/project02.jpg', alt='')
          .project_img--overlay
            .plus
            .project_img--hotel 
              p Western Hotel
            .project_img--text 
              p Modern          
        .project_img
          img.img-fluid(src='./images/project03.jpg', alt='')
          .project_img--overlay
            .plus
            .project_img--hotel 
              p Western Hotel
            .project_img--text 
              p Modern          
        .project_img
          img.img-fluid(src='./images/project04.jpg', alt='')
          .project_img--overlay
            .plus
            .project_img--hotel 
              p Western Hotel
            .project_img--text 
              p Modern          
        .project_img
          img.img-fluid(src='./images/project01.jpg', alt='')
          .project_img--overlay
            .plus
            .project_img--hotel 
              p Western Hotel
            .project_img--text 
              p Modern          
  .container.project-button
    button.btn View More
