#services.container-fluid
    .breadcrumb
        .breadcrumb-content
            h1 Price is what you pay. Value is what you get
            p
                | Home 
                i.fa.fa-angle-double-right
                span Services
    .container.services-categories
        .services-left 
            .services-content--all.content-categories
                h5 Categories
                .categories-img
                    i(onclick='categoriesOnOff()').fa.fa-bars
            #categories-item
                .services-content--all
                    h5 All Services
                    .item-img
                        img(src='./images/icon-services1.svg', alt='')
                .services-content--all
                    h5 Construction
                    .item-img
                        img(src='./images/icon-services2.svg', alt='')
                .services-content--all
                    h5 Building
                    .item-img
                        img(src='./images/icon-services3.svg', alt='')
                .services-content--all
                    h5 Painting
                    .item-img
                        img(src='./images/icon-services4.svg', alt='')
                .services-content--all
                    h5 Roofing
                    .item-img
                        img(src='./images/icon-services5.svg', alt='')
                .services-content--all
                    h5 Concrete
                    .item-img
                        img(src='./images/icon-services6.svg', alt='')
                .services-content--all
                    h5 Tiling Works
                    .item-img
                        img(src='./images/icon-services7.svg', alt='')
            
        .services-right
            .services-content-item
                h5 Construction Management
                img.img-fluid(src='./images/services01.png', alt='')
                p
                    | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                a(href='') More Details
            .services-content-item
                h5 Construction Management
                img.img-fluid(src='./images/services02.png', alt='')
                p
                    | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                a(href='') More Details
            .services-content-item
                h5 Construction Management
                img.img-fluid(src='./images/services03.png', alt='')
                p
                    | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                a(href='') More Details
            .services-content-item
                h5 Construction Management
                img.img-fluid(src='./images/services04.png', alt='')
                p
                    | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                a(href='') More Details
            .services-content-item
                h5 Construction Management
                img.img-fluid(src='./images/services05.png', alt='')
                p
                    | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                a(href='') More Details
            .services-content-item
                h5 Construction Management
                img.img-fluid(src='./images/services06.png', alt='')
                p
                    | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                a(href='') More Details
